#search {
	display: flex;
	flex-direction: column;
}

#search-top {
	background-color: var(--color-bg-light);
	box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
	font-weight: bold;
	flex: 0;
}

#search-top-input {
	width: calc(100% - 32px);
	margin: 16px;
	padding: 12px 48px;
	background-color: var(--color-bg-dark);
	color: var(--color-fg-dark);
	border-radius: 12px;
	font-size: 16px;
}

#search-top-input + svg {
	position: absolute;
	left: 30px;
	top: 25px;
	width: 24px;
}

#search-top-input + svg > * {
	transition: stroke .15s linear;
}

#search-top-input + svg > path,
#search-top-input + svg + svg > path {
	stroke: #b3b3b3;
}

#search-top-input + svg > circle {
	stroke: #bdbdbd;
}

#app[data-theme="dark"] #search-top-input + svg > path,
#app[data-theme="dark"] #search-top-input + svg + svg > path {
	stroke: #606060;
}

#app[data-theme="dark"] #search-top-input + svg > circle {
	stroke: #707070;
}

#search-top-input:active + svg > path {
	stroke: #ff8400 !important;
}

#search-top-input:active + svg > circle {
	stroke: #ffa94d !important;
}

#search-top-input + svg + svg {
	position: absolute;
	right: 16px;
	top: 16px;
	width: 42px;
	padding: 12px;
	transform: scale(0);
	stroke: #b3b3b3;
	transition: transform .1s ease-out;
	cursor: pointer;
}

#search-top-input:not(:invalid) + svg + svg {
	transition: transform .15s ease-out;
	transform: scale(1);
}

/* Results */

#search-results {
	flex: 1;
	overflow-y: auto;
}

.search-results-result {
	display: flex;
	position: relative;
	width: 100%;
	height: 80px;
	padding: 8px;
	font-weight: bold;
	transition: background-color .1s linear;
	align-items: center;
	cursor: pointer;
	pointer-events: all;
}

.search-results-result.is-favorite:before {
	content: 'favorite';
	position: absolute;
	left: 12px;
	bottom: 12px;
	color: #f5557e;
	text-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
	font-family: 'Material Icons';
}

.search-results-result:after {
	content: '';
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% - 16px);
	height: 1px;
	margin: 0 8px;
	background-color: rgba(127, 127, 127, .2);
}

.search-results-result-icon {
	height: 100%;
	padding: 8px;
	flex-shrink: 0;
}

.search-results-result-icon + div {
	padding-left: 8px;
	flex: 1;
}

.search-results-result-name {
	margin-bottom: 4px;
	font-size: 21px;
}

.search-results-result-area {
	margin-bottom: 2px;
	font-size: 15px;
}

.search-results-result-distance {
	padding: 16px;
	font-size: 18px;
}

/* Queries */

@media (pointer: fine) {
	
	.search-results-result:hover {
		background-color: rgba(127, 127, 127, .1);
	}
	
}
