#stop {
	display: flex;
	flex-direction: column;
}

/* Stop - Info */

#stop-info {
	position: relative;
	height: 64px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
	font-weight: bold;
	overflow: hidden;
}

#stop-info > * {
	position: absolute;
}

#stop-info-icon {
	width: 64px;
	height: 64px;
	padding: 10px;
}

#stop-info-name {
	left: 64px;
	top: 7px;
	font-size: 24px;
}

#stop-info-extra {
	left: 65px;
	bottom: 11px;
	color: #aaa;
	font-size: 14px;
}

#stop-info-favorite {
	right: 0;
	width: 64px;
	height: 64px;
	padding: 16px;
	transition: transform .25s ease;
	cursor: pointer;
}

#stop-info-favorite.is-active {
	animation: navbar-favorites .75s ease;
}

/* Stop - Trips */

#stop-trips {
	flex: 1;
	overflow-y: scroll;
}

.stop-trips-trip {
	position: relative;
	height: 80px;
}

.stop-trips-trip:not(:first-child):after {
	content: '';
	display: block;
	position: absolute;
	width: calc(100% - 16px);
	height: 1px;
	margin: 0 8px;
	background-color: rgba(0, 0, 0, .1);
}

.stop-trips-trip > * {
	position: absolute;
}

.stop-trips-trip-icon {
	width: 48px;
	margin-top: 3px;
}

.stop-trips-trip-time,
.stop-trips-trip-shortname {
	font-size: 28px;
}

.stop-trips-trip-shortname,
.stop-trips-trip-longname {
	font-weight: bold;
}

.stop-trips-trip-shortname {
	left: 48px;
	top: 10px;
}

.stop-trips-trip-longname {
	left: 10px;
	bottom: 7px;
}

.stop-trips-trip-longname > svg {
	width: 16px;
	margin-right: 8px;
	margin-bottom: -2px;
}

.stop-trips-trip-time,
.stop-trips-trip-alttime {
	right: 8px;
}

.stop-trips-trip-time {
	top: 8px;
}

.stop-trips-trip-time > span {
	font-size: 18px;
}

.stop-trips-trip-time > svg {
	position: absolute;
	right: 2px;
	top: 3px;
	width: 12px;
	transform: rotate(-15deg);
}

.stop-trips-trip-alttime {
	bottom: 10px;
	color: #999;
	font-size: 18px;
}
