.fab {
	display: flex;
	position: fixed;
	right: -48px;
	bottom: 80px;
	width: 48px;
	height: 48px;
	padding: 8px;
	background-color: var(--color-back-light);
	border: 0 solid transparent;
	border-radius: 100%;
	box-shadow: var(--shadow-soft);
	font-size: 28px;
	transition: right .25s ease, border-width .1s linear;
	justify-content: center;
	align-items: center;
	cursor: pointer;
}

.fab.is-visible {
	right: 16px;
}

.fab.is-active {
	border-width: 3px;
}
