#settings {
	font-size: 17px;
}

#settings label {
	display: flex;
	margin: 16px;
	margin-top: 24px;
	font-weight: bold;
	align-items: center;
}

#settings label i {
	margin-right: 16px;
}

#settings label span {
	margin-left: 8px;
	color: var(--color-fg-light);
	font-size: 12px;
}

#settings select,
#settings input {
	width: 100%;
	padding: 12px 14px;
	background-color: var(--color-bg-darker);
	font-size: 15px;
}

#settings select {
	cursor: pointer;
}

#settings label.is-select {
	position: relative;
}

#settings label.is-select:after {
	content: '▼';
	display: flex;
	position: absolute;
	right: 0;
	top: 41px;
	height: 41px;
	color: var(--color-fg-light);
	font-size: 18px;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}

#settings img {
	width: 75%;
	max-width: 384px;
	margin: 32px 16px;
	margin-bottom: 24px;
	transform: rotate(3deg);
}

#settings p {
	margin: 0 16px;
	font-size: 16px;
	font-style: italic;
	line-height: 1.8;
}

#settings p a {
	color: deepskyblue;
}
