#modal-container {
	z-index: 1000;
	display: flex;
	position: fixed;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .5);
	justify-content: center;
	align-items: center;
}

#modal-container.enter {
	animation: var(--animation-fadeIn);
}

#modal-container.exit {
	animation: var(--animation-fadeOut);
}

/* Panel */

#modal {
	width: 80%;
	max-width: 384px;
	margin-bottom: 48px;
	background-color: var(--color-back-light);
	border-radius: 3px;
	box-shadow: rgba(0, 0, 0, .16) 0 3px 10px, rgba(0, 0, 0, .23) 0 3px 10px;
}

#modal-title {
	padding: 24px 24px 20px;
	font-size: 22px;
	font-weight: bold;
}

#modal-text {
	padding: 0 24px 24px;
	color: var(--color-fore-light);
}

/* Panel - Buttons */

#modal-buttons {
	display: flex;
	padding: 8px;
	font-size: 14px;
	letter-spacing: 1px;
	justify-content: flex-end;
}

#modal-buttons > canvas {
	color: rgba(0, 0, 0, .2);
}

#modal-buttons-cancel,
#modal-buttons-confirm {
	position: relative;
	display: flex;
	height: 36px;
	padding: 0 16px;
	border-radius: 3px;
	font-weight: bold;
	justify-content: center;
	align-items: center;
	transition: background-color .25s ease;
	cursor: pointer;
}

#modal-buttons-cancel {
	color: orangered;
}

#modal-buttons-confirm {
	color: deepskyblue;
}

#app[data-theme="light"] #modal-buttons-cancel:hover,
#app[data-theme="light"] #modal-buttons-confirm:hover {
	background-color: rgba(0, 0, 0, .075);
}

#app[data-theme="dark"] #modal-buttons-cancel:hover,
#app[data-theme="dark"] #modal-buttons-confirm:hover {
	background-color: rgba(0, 0, 0, .175);
}

#app[data-theme="light"] #modal-buttons-cancel:hover > canvas,
#app[data-theme="light"] #modal-buttons-confirm:hover > canvas {
	color: rgba(0, 0, 0, .075);
}

#app[data-theme="dark"] #modal-buttons-cancel:hover > canvas,
#app[data-theme="dark"] #modal-buttons-confirm:hover > canvas {
	color: rgba(0, 0, 0, .5);
}
