#route {
	display: flex;
	flex-direction: column;
}

/* Info */

#route-info {
	z-index: 1;
	display: flex;
	position: relative;
	width: 100%;
	height: 72px;
	background-color: var(--color-back-light);
	box-shadow: var(--shadow-soft);
	font-weight: bold;
	text-align: center;
	transition: background-color .15s linear;
	justify-content: center;
	flex-direction: column;
	overflow: hidden;
}

#route-info span {
	animation: var(--animation-fadeIn);
}

#route-info-icon {
	z-index: -1;
	position: absolute;
	left: -50px;
	bottom: -32px;
	width: 192px;
	height: 192px;
	padding: 9px;
	opacity: .25;
	transform: rotate(10deg);
}

#route-info-icon * {
	fill: white;
}

#route-info-name {
	margin-top: -3px;
	color: white;
	font-size: 22px;
}

#route-info-description {
	margin-top: 3px;
	padding: 3px 12px;
	color: #f2f2f2;
	border-radius: 8px;
	font-size: 14px;
	text-align: center;
	transition: background-color .15s linear;
}

#route-info-description:not(:empty) {
	background-color: rgba(0, 0, 0, .1);
}

/* Stops */

#route-stops {
	flex: 1;
	overflow-y: auto;
}

.route-stops-stop {
	display: flex;
	position: relative;
	width: 100%;
	height: 80px;
	padding: 8px;
	font-weight: bold;
	transition: background-color .1s linear;
	animation: var(--animation-fadeIn);
	align-items: center;
	cursor: pointer;
	pointer-events: all;
}

.route-stops-stop:hover {
	background-color: rgba(127, 127, 127, .1);
}

.route-stops-stop.is-active {
	background-color: #fafa5850;
}

.route-stops-stop:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% - 16px);
	height: 1px;
	margin: 0 8px;
	background-color: rgba(127, 127, 127, .2);
}

.route-stops-stop-icon {
	height: 100%;
	padding: 8px;
	flex-shrink: 0;
}

.route-stops-stop-icon + div {
	padding-left: 8px;
	flex: 1;
}

.route-stops-stop-icon + div + div {
	padding-left: 8px;
	text-align: right;
	flex: 1;
}

.route-stops-stop-name {
	margin-bottom: 4px;
	font-size: 21px;
}

.route-stops-stop-description {
	margin-bottom: 2px;
	font-size: 15px;
}

.route-stops-stop-countdown {
	margin-bottom: 8px;
	font-size: 28px;
}

.route-stops-stop-countdown.is-urgent {
	animation: route-urgent 1s ease infinite;
}

.route-stops-stop-countdown.has-arrived {
	color: lightgray;
}

.route-stops-stop-time {
	color: var(--color-fore-light);
	font-size: 19px;
}

/* Animations */

@keyframes route-urgent {
	
	from {
		opacity: 1;
	}
	
	50% {
		opacity: .25;
	}
	
	to {
		opacity: 1;
	}
	
}

/* Queries */

@media (max-width: 480px) {
	
	#route-info div:after {
		bottom: 16px;
	}
	
}
