#route {
	display: flex;
	flex-direction: column;
}

/* Info */

#route-info-bar {
	z-index: 1;
	height: 64px;
	background-color: var(--color-back-light);
	box-shadow: var(--shadow-soft);
}

#route-info {
	z-index: 2;
	display: flex;
	position: absolute;
	width: 100%;
	font-weight: bold;
	animation: var(--animation-fadeIn);
	overflow: hidden;
}

#route-info div {
	display: flex;
	position: relative;
	padding-bottom: 3px;
	flex-direction: column;
	justify-content: center;
}

#route-info div:after {
	z-index: -1;
	content: "▼";
	display: flex;
	position: absolute;
	left: 0;
	bottom: 14px;
	width: 12px;
	height: 12px;
	color: var(--color-fore-light);
	font-size: 10px;
	justify-content: center;
	align-items: center;
}

#route-info-icon {
	width: 58px;
	height: 64px;
	padding: 6px;
}

#route-info-name {
	margin-top: 8px;
	font-size: 22px;
}

#route-info-description {
	padding-left: 18px;
	padding-right: 64px;
	padding-bottom: 8px;
	color: var(--color-fore-light);
	font-size: 14px;
}

#route-info-description option {
	background-color: var(--color-back-light);
	color: var(--color-fore-dark);
	font-size: 16px;
}

/* Stops */

#route-stops {
	flex: 1;
	overflow-y: auto;
}

.route-stops-stop {
	display: flex;
	position: relative;
	width: 100%;
	height: 80px;
	padding: 8px;
	font-weight: bold;
	transition: background-color .1s linear;
	animation: var(--animation-fadeIn);
	align-items: center;
	cursor: pointer;
	pointer-events: all;
}

.route-stops-stop:hover {
	background-color: rgba(127, 127, 127, .1);
}

.route-stops-stop.is-active {
	background-color: #fafa5850;
}

.route-stops-stop:after {
	content: "";
	position: absolute;
	left: 0;
	bottom: 0;
	width: calc(100% - 16px);
	height: 1px;
	margin: 0 8px;
	background-color: rgba(127, 127, 127, .2);
}

.route-stops-stop-icon {
	height: 100%;
	padding: 8px;
	flex-shrink: 0;
}

.route-stops-stop-icon + div {
	padding-left: 8px;
	flex: 1;
}

.route-stops-stop-icon + div + div {
	padding-left: 8px;
	text-align: right;
	flex: 1;
}

.route-stops-stop-name {
	margin-bottom: 4px;
	font-size: 21px;
}

.route-stops-stop-description {
	margin-bottom: 2px;
	font-size: 15px;
}

.route-stops-stop-countdown {
	margin-bottom: 8px;
	font-size: 28px;
}

.route-stops-stop-countdown.is-urgent {
	animation: route-urgent 1s ease infinite;
}

.route-stops-stop-countdown.has-arrived {
	color: lightgray;
}

.route-stops-stop-time {
	color: var(--color-fore-light);
	font-size: 19px;
}

/* Animations */

@keyframes route-urgent {
	
	from {
		opacity: 1;
	}
	
	50% {
		opacity: .25;
	}
	
	to {
		opacity: 1;
	}
	
}

/* Queries */

@media (max-width: 480px) {
	
	#route-info div:after {
		bottom: 16px;
	}
	
}
