* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Arial, Helvetica, Arimo;
	user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	-webkit-tap-highlight-color: transparent;
}

.full {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow-y: auto;
}

.sa-button-container .cancel {
	background-color: #aaa !important;
}

.sa-button-container .confirm {
	background-color: deepskyblue !important;
}

/* Stop */

#stop {
	z-index: 5;
	background-color: white;
	opacity: 0;
	visibility: hidden;
	cursor: default;
	transition: opacity .25s linear;
}

#stop.is-visible {
	opacity: 1;
}

#stop-name {
	padding: 8px 12px;
	background: no-repeat right deepskyblue url('assets/back.png');
	color: white;
	border-bottom: 4px solid rgba(0, 0, 0, .2);
	font-size: 36px;
	font-weight: bold;
	cursor: pointer;
}

/* Stop - Trips */

.trip {
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	font-size: 32px;
}

.trip:nth-child(even) {
	background-color: rgba(0, 0, 0, .03);
}

.trip-type,
.trip-short_name,
.trip-long_name {
	position: absolute;
}

.trip-short_name,
.trip-long_name {
	font-weight: bold;
}

.trip-type {
	top: 2px;
	width: 48px;
	height: 48px;
}

.trip-short_name {
	left: 48px;
	top: 5px;
	font-size: 38px;
}

.trip-long_name {
	left: 10px;
	bottom: 5px;
	font-size: 20px;
	filter: brightness(.8);
}

.trip-time,
.trip-alt_time {
	position: absolute;
	right: 10px;
	text-align: right;
}

.trip-time {
	top: 6px;
	color: #444;
}

.trip-alt_time {
	bottom: 5px;
	color: #666;
	font-size: 26px;
}

.trip-gps {
	position: absolute;
	right: -7px;
	bottom: 20px;
	width: 24px;
	height: 24px;
}

/* Buttons */

#trigger-bookmarks {
	z-index: 2;
	position: absolute;
	width: 32px;
	height: 100%;
	cursor: -webkit-grab;
	cursor: -moz-grab;
}

#btn-bookmarks {
	z-index: 2;
	left: 16px;
	top: 16px;
}

#btn-help {
	z-index: 2;
	right: 16px;
	top: 16px;
}

#btn-locate {
	z-index: 2;
	right: 16px;
	bottom: 16px;
	filter: grayscale(1);
	transition: filter .25s linear;
}

.btn {
	position: absolute;
	width: 55px;
	height: 55px;
	padding: 8px;
	background-color: white;
	border-radius: 100%;
	box-shadow: 0 0 3px 0 rgba(32, 32, 32, .6);
	cursor: pointer;
}

.bounce {
	animation: bounce .5s;
}

@keyframes bounce {
	
	25% {
		transform: translateY(-5%);
	}
	
	50% {
		transform: translateY(3%);
	}
	
	to {
		transform: translateY(0%);
	}
	
}

/* Bookmarks */

#bookmarks {
	z-index: 3;
	position: absolute;
	width: 240px;
	height: 100%;
	background-color: white;
	box-shadow: 0 3px 10px rgba(0, 0, 0, .16), 0 3px 10px rgba(0, 0, 0, .23);
	transform: translateX(-240px);
	transition: transform .25s linear;
}

#bookmarks.is-visible {
	transform: translateX(0);
}

#bookmarks-add {
	width: 100%;
	padding: 16px;
	color: white;
	background-color: deepskyblue;
	border-bottom: 3px solid steelblue;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transition: background-color .15s linear;
}

#bookmarks-add:hover {
	background-color: lightskyblue;
}

#bookmarks-list {
	height: calc(100% - 63px);
	overflow-y: auto;
}

#bookmark-controls {
	display: flex;
	display: -ms-flex;
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	align-items: center;
}

#bookmark-controls div {
	width: 32px;
	height: 32px;
	margin: 6px 3px;
	background-color: white;
	border-radius: 100%;
	box-shadow: 0 0 3px 0 rgba(32, 32, 32, .6);
	transition: transform .15s linear;
}

#bookmark-controls div:last-child {
	margin-right: 9px;
}

#bookmark-controls div:hover {
	transform: scale(1.1);
}

#bookmark-controls-up {
	background: url('assets/buttons/up.png') center/60% no-repeat;
}

#bookmark-controls-down {
	background: url('assets/buttons/down.png') center/60% no-repeat;
}

#bookmark-controls-rename {
	background: url('assets/buttons/rename.png') center/60% no-repeat;
}

#bookmark-controls-delete {
	background: url('assets/buttons/delete.png') center/60% no-repeat;
}

.bookmark {
	position: relative;
	width: 100%;
	padding: 12px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	font-size: 20px;
	word-wrap: break-word;
	cursor: pointer;
	transition: background-color .15s linear;
}

.bookmark:hover {
	background-color: whitesmoke;
}

/* Help */

#help {
	z-index: 3;
	width: 100%;
	height: 100%;
	padding: 0 32px;
	color: white;
	background-color: rgba(0, 0, 0, .85);
	font-size: 20px;
	text-align: center;
	line-height: 28px;
	opacity: 0;
	visibility: hidden;
	cursor: pointer;
	transition: opacity .25s linear;
}

#help.is-visible {
	opacity: 1;
}

#help a {
	color: inherit;
}

#help-logo {
	width: 100%;
	max-width: 512px;
	margin: 24px 0;
}

#help-version {
	color: #dedede;
	font-size: 16px;
	font-weight: bold;
}

.help-language {
	width: 48px;
	margin: 0 12px;
	margin-bottom: 20px;
	border-radius: 8px;
	transition: transform .15s linear;
}

.help-language:hover {
	transform: scale(1.25);
}

.help-category {
	padding: 24px 0;
	border-top: 1px solid rgba(255, 255, 255, .5);
	font-size: 18px;
	font-weight: bold;
}

.help-title:first-child,
.help-role:first-child,
.help-provider:first-child {
	margin-top: 0;
}

.help-title {
	margin: 12px 0;
	margin-top: 24px;
	color: #48d457;
	font-size: 24px;
	font-weight: bold;
}

.help-role,
.help-provider {
	margin-top: 24px;
	margin-bottom: 12px;
	font-size: 28px;
}

.help-role {
	color: deepskyblue;
}

.help-provider {
	color: #ff7b3b;
}
