* {
	box-sizing: border-box;
	user-select: none;
	-moz-user-select: none;
	-webkit-user-select: none;
}

html, body {
	height: 100%;
}
body {
	margin: 0;
	font-family: 'Arial';
	overflow-x: hidden;
}

img {
	-webkit-tap-highlight-color: transparent;
}

.sa-button-container .cancel {
	background-color: #fa5858 !important;
}
.sa-button-container .confirm {
	background-color: #00ace6 !important;
}

.full {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#map {
	z-index: 1;
}

/* Overlay - Stop */

#stop {
	z-index: 5;
	display: none;
	background-color: white;
}

#stop-name {
	padding: 8px 12px;
	background: no-repeat right #00bfff url(assets/back.png);
	color: white;
	border-bottom: 6px solid rgba(0,0,0,.2);
	font-size: 36px;
	font-weight: bold;
	cursor: pointer;
}

/* Overlay - Stop - Trips */

#stop-trips {
	position: relative;
}

.trip {
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	color: #444;
	font-size: 32px;
}

.trip-type, .trip-short_name, .trip-long_name {
	position: absolute;
}

.trip-short_name, .trip-long_name {
	left: 74px;
}

.trip-type {
	left: -4px;
	width: 80px;
	height: 80px;
	padding: 2px;
}
.trip-short_name {
	top: 5px;
	font-size: 38px;
}
.trip-long_name {
	bottom: 8px;
	color: #777;
	font-size: 20px;
}

.trip-time, .trip-alt_time {
	position: absolute;
	right: 10px;
	text-align: right;
}

.trip-time {
	top: 5px;
}
.trip-alt_time {
	bottom: 6px;
	color: #777;
	font-size: 26px;
}

.trip-gps {
	position: absolute;
	right: -7px;
	bottom: 20px;
	width: 24px;
	height: 24px;
}

/* Overlay - Buttons */

#trigger-bookmarks {
	z-index: 2;
	position: absolute;
	width: 32px;
	height: 100%;
	cursor: -webkit-grab;
    cursor: -moz-grab;
}

#btn-bookmarks {
	z-index: 2;
	left: 16px;
	top: 16px;
}
#btn-help {
	z-index: 2;
	right: 16px;
	top: 16px;
}
#btn-locate {
	z-index: 2;
	right: 16px;
	bottom: 16px;
	filter: grayscale(100%);
	transition: filter .3s linear;
}

.btn {
	position: absolute;
	width: 55px;
	height: 55px;
	padding: 8px;
	background-color: white;
	border-radius: 32px;
	box-shadow: 0 0 3px 0px rgba(32,32,32,.6);
	cursor: pointer;
}

.bounce {
	animation: bounce .5s;
}

@keyframes bounce {
	25% {
		transform: translateY(-5%);
	}
	50% {
		transform: translateY(3%);
	}
	to {
		transform: translateY(0%);
	}
}

/* Overlay - Bookmarks */

#bookmarks {
	z-index: 3;
	position: absolute;
	left: -240px;
	width: 240px;
	height: 100%;
	background-color: white;
	box-shadow: 1px 0 2px 1px rgba(0,0,0,.25);
}

#bookmarks-add {
	width: 100%;
	padding: 16px;
	background-color: deepskyblue;
	border-bottom: 4px solid steelblue;
	color: white;
	font-size: 24px;
	font-weight: bold;
	text-align: center;
	cursor: pointer;
	transition: background-color .2s linear;
}
#bookmarks-add:hover {
	background-color: lightskyblue;
}

.bookmark {
	width: 100%;
	padding: 12px;
	border-bottom: 1px solid rgba(0,0,0,.1);
	font-size: 20px;
	cursor: pointer;
	transition: background-color .15s linear;
}
.bookmark:hover {
	background-color: #f2f2f2;
}

/* Overlay - Help */

#help {
	z-index: 3;
	display: none;
	width: 100%;
	height: 100%;
	padding: 32px;
	background-color: rgba(0,0,0,.8);
	color: white;
	text-align: center;
	line-height: 28px;
	font-size: 20px;
	overflow-x: hidden;
	overflow-y: auto;
}

#help-logo {
	width: 100%;
	max-width: 512px;
}

.help-title {
	display: inline-block;
	margin: 24px 0;
	color: #48d457;
	font-size: 24px;
	font-weight: bold;
}
.help-title:first-child {
	margin-top: 0;
}

#help-credits {
	margin-top: 32px;
	color: #dedede;
	font-size: 18px;
	font-weight: bold;
}

.help-role {
	color: deepskyblue;
	font-size: 20px;
}

#help-version {
	color: #dedede;
	font-size: 16px;
	font-weight: bold;
}