#navbar {
	z-index: 999;
	display: flex;
	height: 64px;
	background-color: white;
	color: #333;
	box-shadow: rgba(0, 0, 0, .16) 0 3px 10px, rgba(0, 0, 0, .23) 0 3px 10px;
	cursor: pointer;
	overflow: hidden;
}

.navbar-item {
	display: flex;
	position: relative;
	justify-content: center;
	align-items: center;
	align-items: center;
	flex: 1;
}

.navbar-item-icon {
	width: 32px;
	transition: width .25s ease;
}

.navbar-item.active .navbar-item-icon {
	width: 38px;
}

/* Queries */

@media (pointer: fine) {
	
	.navbar-item:hover > svg {
		width: 38px;
	}
	
}

/* Animations */

@keyframes navbar-search {
	
	50% {
		transform: scaleX(-1);
	}
	
	to {
		transform: rotateY(1);
	}
	
}

@keyframes navbar-favorites {
	
	25% {
		transform: scale(1.1);
	}
	
	50% {
		transform: scale(1);
	}
	
	75% {
		transform: scale(1.1);
	}
	
	to {
		transform: scaleX(1);
	}
	
}

@keyframes navbar-map {
	
	50% {
		transform: scaleX(.6);
	}
	
	to {
		transform: scaleX(1);
	}
	
}

@keyframes navbar-settings {
	
	to {
		transform: rotate(180deg);
	}
	
}
