#navbar {
	z-index: 999;
	display: flex;
	color: #333;
	box-shadow: rgba(0, 0, 0, .16) 0 3px 10px, rgba(0, 0, 0, .23) 0 3px 10px;
	flex: 0 0 64px;
	overflow: hidden;
	cursor: pointer;
	-webkit-tap-highlight-color: transparent;
}

.navbar-item {
	display: flex;
	position: relative;
	background-color: white;
	outline: none;
	justify-content: center;
	flex: 1;
}

.navbar-item svg {
	width: 32px;
	transition: width .15s ease;
}

.navbar-item.active svg {
	width: 40px;
}

@media (pointer: fine) {
	
	.navbar-item:hover svg {
		width: 40px;
	}
	
}

@keyframes navbar-item-search {
	
	50% {
		transform: scaleX(-1);
	}
	
	to {
		transform: rotateY(1);
	}
	
}

@keyframes navbar-item-favorites {
	
	25% {
		transform: scale(1.1);
	}
	
	50% {
		transform: scale(1);
	}
	
	75% {
		transform: scale(1.1);
	}
	
	to {
		transform: scaleX(1);
	}
	
}

@keyframes navbar-item-map {
	
	50% {
		transform: scaleX(.6);
	}
	
	to {
		transform: scaleX(1);
	}
	
}

@keyframes navbar-item-settings {
	
	to {
		transform: rotate(180deg);
	}
	
}
