nav {
	background-color: transparent;
	box-shadow: none;
}

nav a {
	text-shadow: var(--shadow);
}

nav a:hover,
nav a:focus {
	background-color: rgba(255, 255, 255, .1);
}

/* Main */

main {
	display: flex;
	padding-top: 0;
	align-items: center;
	flex-direction: column;
}

/* Banner */

main blockquote {
	display: flex;
	width: 100%;
	height: calc(30rem - 6.7rem);
	margin-bottom: 1rem;
	color: white;
	font-size: 1.5rem;
	font-style: italic;
	align-items: center;
}

main header {
	z-index: -1;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 30rem;
}

main header:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: linear-gradient(0deg, rgba(0, 0, 0, .3) 60%, rgba(0, 0, 0, .5) 100%);
}

main img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center top;
}

/* Queries */

@media (min-width: 600px) {
	
	/* Banner */
	
	main blockquote {
		height: calc(30rem - 3.8rem);
		margin-bottom: 3rem;
	}
	
}
