main {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}

/* Merch */

article {
	position: relative;
	width: 100%;
	border-radius: 5px;
	box-shadow: var(--shadow);
	cursor: default;
}

article div {
	position: relative;
	padding-top: 66.67%;
}

article img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 5px;
	transition: opacity .1s linear;
	object-fit: contain;
}

article:hover img:last-child,
article:focus img:last-child {
	opacity: 0;
}

article h1,
article p {
	position: absolute;
	bottom: 0;
	padding: .5rem 1rem;
	background-color: rgba(0, 0, 0, .35);
	color: white;
}

article h1 {
	left: 0;
	border-top-right-radius: 5px;
	border-bottom-left-radius: 5px;
}

article p {
	right: 0;
	border-top-left-radius: 5px;
	border-bottom-right-radius: 5px;
}

article p span {
	font-size: .75rem;
}

/* Queries */

@media (min-width: 900px) {
	
	main {
		grid-template-columns: repeat(2, 1fr);
	}
	
}

@media (min-width: 1200px) {
	
	main {
		grid-template-columns: repeat(3, 1fr);
	}
	
}
