main {
	display: grid;
	grid-template-columns: 1fr;
	grid-gap: 1rem;
}

article {
	width: 100%;
	border-radius: 4px;
}

article section {
	position: relative;
	padding-top: 66.67%;
}

article img {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border-radius: 4px;
	object-fit: contain;
	background-color: #ddd;
	box-shadow: var(--shadow);
	transition: opacity .1s linear;
}

article img:last-child:hover {
	opacity: 0;
}

article h2 {
	padding: .5rem 0;
}

article p {
	color: var(--color-fg-light);
}

/* Queries */

@media (min-width: 600px) {
	
	main {
		grid-template-columns: repeat(2, 1fr);
	}
	
}

@media (min-width: 900px) {
	
	main {
		grid-template-columns: repeat(3, 1fr);
	}
	
}

@media (min-width: 1300px) {
	
	main {
		grid-template-columns: repeat(4, 1fr);
	}
	
}
