* {
	box-sizing: border-box;
	outline: none;
}

body {
	margin: 0;
	background-color: var(--color-bg-light);
	color: var(--color-fg-dark);
	font-family: "Open Sans", Arial, Helvetica, sans-serif;
	overflow-y: scroll;
	-webkit-tap-highlight-color: transparent;
	--shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
	--color-fg-light: #6b6666;
	--color-fg-dark: #494343;
	--color-bg-light: #fafafa;
	--color-bg-dark: #eee;
}

body.is-loading * {
	transition: none !important;
}

ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

a {
	color: inherit;
	text-decoration: none;
}

h1,
h2,
p {
	margin: 0;
	font-size: 1rem;
	font-weight: normal;
}

img {
	background: radial-gradient(circle, var(--color-fg-light) 0, var(--color-fg-dark) 100%);
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin-left: auto;
	margin-right: auto;
}

/* Navbar */

nav {
	z-index: 999;
	position: fixed;
	top: 0;
	width: 100%;
	padding: .5rem 0;
	background: #0081d1;
	color: white;
	font-family: Handlee, Arial, Helvetica, sans-serif;
	font-weight: bold;
	line-height: 1.1rem;
	box-shadow: var(--shadow);
}

nav .wrapper {
	display: flex;
	flex-direction: column;
	align-items: center;
}

nav a {
	display: flex;
	padding: .75rem;
	padding-right: .7rem;
	border-radius: 5px;
	transition: background-color .1s linear;
	align-items: center;
}

nav a:hover,
nav a:focus {
	background-color: rgba(0, 0, 0, .1);
}

nav a.is-active {
	background-color: white;
	color: #0277bd;
}

nav .wrapper > a,
nav .wrapper > a > svg {
	min-width: 132px;
	height: 2.5rem;
	filter: brightness(0) invert(1);
}

nav .wrapper > div {
	display: flex;
	padding-top: .5rem;
	justify-content: center;
	flex: 1;
}

nav ul {
	display: flex;
}

nav ul:first-child {
	margin-right: 1rem;
}

nav li {
	display: flex;
	margin: 0 .25rem;
	white-space: nowrap;
	overflow: hidden;
}

nav li:first-child {
	margin-left: 0;
}

nav li:last-child {
	margin-right: 0;
}

nav ul svg {
	width: 1.25rem;
}

nav span {
	display: none;
}

/* Main */

main {
	margin-top: 6.6rem;
	padding: 1rem;
	padding-bottom: 3rem;
	text-align: justify;
}

/* Footer */

footer {
	min-height: 128px;
	padding: 1rem;
	background-color: var(--color-bg-dark);
	color: var(--color-fg-light);
	box-shadow: 0 50vw 0 50vw var(--color-bg-dark);
}

/* Queries */

@media (min-width: 600px) {
	
	.wrapper {
		width: 80%;
	}
	
	/* Navbar */
	
	nav .wrapper {
		flex-direction: row;
	}
	
	nav .wrapper > a {
		margin-right: .5rem;
	}
	
	nav .wrapper > div {
		padding: 0;
		justify-content: space-between;
	}
	
	nav .wrapper > svg {
		margin-right: 1rem;
	}
	
	/* Main */
	
	main {
		margin-top: 3.8rem;
		padding-top: 3rem;
		padding-bottom: 6rem;
	}
	
}

@media (min-width: 900px) {
	
	/* Navbar */
	
	nav ul:first-child svg {
		margin-right: .7rem;
	}
	
	nav ul:first-child span {
		display: inline;
	}
	
}

@media (min-width: 1300px) {
	
	/* Navbar */
	
	nav ul svg {
		margin-right: .75rem;
	}
	
	nav ul:last-child span {
		display: inline;
	}
	
}
