#map {
	z-index: 0;
	width: 100%;
	height: 100%;
}

/* Message */

#map-message {
	position: absolute;
	top: 32px;
	width: 100%;
	padding: 8px;
	background-color: rgba(0, 0, 0, .45);
	color: white;
	font-size: 18px;
	font-weight: bold;
	text-align: center;
	pointer-events: none;
}

#app[data-theme="dark"] #map-message {
	background-color: rgba(127, 127, 127, .45);
}

#map-message:empty {
	opacity: 0;
}

/* Locate */

#map-locate {
	display: flex;
	position: absolute;
	right: -48px;
	bottom: 16px;
	width: 48px;
	height: 48px;
	padding: 8px;
	background-color: var(--color-bg-light);
	color: #00e6ad !important;
	border: 3px solid transparent;
	border-radius: 100%;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
	font-size: 28px;
	transition: right .25s ease, border-color .1s linear;
    justify-content: center;
    align-items: center;
	cursor: pointer;
}

#app[data-theme="dark"] #map-locate {
	color: var(--color-bg-light);
}

#map-locate.is-visible {
	right: 16px;
}

#map-locate.is-active {
	border-color: #00e6ad;
}

/* Leaflet */

.leaflet-control-attribution {
	padding-bottom: 2px;
	background-color: transparent !important;
	color: deepskyblue !important;
	border-bottom-left-radius: 3px;
	font-weight: bold;
	opacity: .75;
}

.leaflet-control-attribution > a {
	color: inherit !important;
}

.leaflet-container {
	background: var(--color-bg-dark) !important;
}

.leaflet-overlay-pane svg path {
	transition: all .15s linear;
}
