#stop {
	display: flex;
	flex-direction: column;
}

/* Stop - Info */

#stop-info {
	z-index: 1;
	position: relative;
	height: 64px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
	font-weight: bold;
	overflow: hidden;
}

#stop-info > * {
	position: absolute;
}

#stop-info-icon {
	width: 64px;
	height: 64px;
	padding: 9px;
}

#stop-info-name {
	left: 64px;
	top: 7px;
	font-size: 24px;
}

#stop-info-direction:empty + #stop-info-name {
	top: 17px;
}

#stop-info-direction {
	left: 65px;
	bottom: 11px;
	color: #9e9e9e;
	font-size: 14px;
}

#stop-info-direction:empty {
	display: none;
}

#stop-info-favorite {
	right: 0;
	width: 64px;
	height: 64px;
	padding: 16px;
	cursor: pointer;
}

#stop-info-favorite path {
	transition: fill .1s linear, stroke .1s linear;
}

/* Stop - Trips */

#stop-trips {
	flex: 1;
	overflow-y: scroll;
}

.stop-trips-trip {
	display: block;
	position: relative;
	height: 80px;
	color: inherit;
	transition: background-color .1s linear;
}

.stop-trips-trip:hover {
	background-color: #eee;
}

.stop-trips-trip:not(:first-child):after {
	content: '';
	display: block;
	position: absolute;
	width: calc(100% - 16px);
	height: 1px;
	margin: 0 8px;
	background-color: rgba(0, 0, 0, .1);
}

.stop-trips-trip > * {
	position: absolute;
}

.stop-trips-trip-icon {
	width: 48px;
	margin-top: 3px;
}

.stop-trips-trip-countdown,
.stop-trips-trip-name {
	font-size: 28px;
}

.stop-trips-trip-name,
.stop-trips-trip-destination {
	font-weight: bold;
}

.stop-trips-trip-name {
	left: 48px;
	top: 10px;
}

.stop-trips-trip-destination {
	left: 10px;
	bottom: 7px;
}

.stop-trips-trip-destination > svg {
	width: 16px;
	margin-right: 8px;
	margin-bottom: -2px;
}

.stop-trips-trip-countdown,
.stop-trips-trip-time {
	right: 8px;
}

.stop-trips-trip-countdown {
	top: 8px;
}

.stop-trips-trip-countdown > span {
	font-size: 18px;
}

.stop-trips-trip-countdown > svg {
	position: absolute;
	right: 10px;
	top: -1px;
	width: 12px;
	transform: rotate(-15deg);
}

.stop-trips-trip-time {
	bottom: 10px;
	color: #999;
	font-size: 18px;
}
