* {
	box-sizing: border-box;
}

html,
body {
	height: 100%;
}

body {
	margin: 0;
	font-family: Arial;
	overflow: hidden;
	cursor: default;
	user-select: none;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}

.full {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
}

#cover {
	z-index: 999;
	background-color: white;
	object-fit: contain;
	opacity: 0;
	transition: opacity 1s linear;
	pointer-events: none;
}

#cover.is-visible {
	opacity: 1 !important;
}

/* Bar */

#bar {
	z-index: 2;
	display: flex;
	position: absolute;
	bottom: 0;
	width: 100%;
	border-top: .3vw solid rgba(0, 0, 0, .2);
	align-items: center;
}

#bar-logo {
	width: 28%;
	object-fit: contain;
	vertical-align: middle;
}

#bar-text {
	flex-grow: 1;
	color: white;
	font-size: 4vw;
	font-weight: bold;
	text-align: center;
	vertical-align: middle;
}

/* Stop */

#stops {
	display: flex;
}

.stop {
	flex-grow: 1;
	flex-basis: 0;
	height: 100%;
	z-index: 1;
}

.stop-top {
	padding: .5vw .75vw;
	color: white;
	border-bottom: .3vw solid rgba(0, 0, 0, .2);
}

.stop-name,
.stop-desc {
	white-space: nowrap;
	overflow: hidden;
}

.stop-name {
	font-size: 3vw;
	font-weight: bold;
}

.stop-desc {
	font-size: 1.8vw;
	font-weight: normal;
}

.stop-trips {
	height: 100%;
	border-left: 1px solid rgba(0, 0, 0, .1);
}

/* Stop - Trips */

.trip {
	position: relative;
	width: 100%;
	height: 80px;
	border-bottom: 1px solid rgba(0, 0, 0, .1);
	font-size: 32px;
}

.trip:nth-child(even) {
	background-color: #f6f6f6;
}

.trip-type,
.trip-short_name,
.trip-long_name {
	position: absolute;
}

.trip-short_name,
.trip-long_name {
	font-weight: bold;
}

.trip-type {
	top: 2px;
	width: 48px;
	height: 48px;
}

.trip-short_name {
	left: 48px;
	top: 5px;
	font-size: 38px;
}

.trip-long_name {
	left: 10px;
	bottom: 5px;
	font-size: 20px;
	filter: brightness(.8);
}

.trip-time,
.trip-alt_time {
	position: absolute;
	right: 10px;
	text-align: right;
}

.trip-time {
	top: 6px;
	color: #444;
}

.trip-alt_time {
	bottom: 5px;
	color: #666;
	font-size: 26px;
}

.trip-gps {
	position: absolute;
	right: -7px;
	bottom: 20px;
	width: 24px;
	height: 24px;
}
