* {
	box-sizing: border-box;
	outline: none;
}

html,
body,
#app {
	height: 100%;
}

body {
	margin: 0;
	user-select: none;
	overflow: hidden;
}

/* Reset */

input,
select {
	background-color: transparent;
	color: inherit;
	border: none;
	outline: none;
	box-shadow: none;
	font-size: inherit;
	font-weight: inherit;
}

select {
	cursor: pointer;
	-webkit-appearance: none;
}

ul,
ol {
	margin: 0;
	padding: 0;
}

h1 {
	margin: 0;
	padding: 0;
}

p {
	margin: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/* App */

#app {
	display: flex;
	background-color: var(--color-bg-dark);
	color: var(--color-fg-dark);
	font-family: Arial, Helvetica, sans-serif;
	transition: filter .5s linear;
	flex-direction: column;
	-webkit-tap-highlight-color: transparent;
}

#app[data-theme="light"],
#app[data-theme="dark"] {
	--shadow-light: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
	--shadow-dark: rgba(0, 0, 0, .16) 0 3px 10px, rgba(0, 0, 0, .23) 0 3px 10px;
	--animation-fadeIn: view-fadeIn .15s linear forwards;
}

#app[data-theme="light"] {
	--color-fg-light: #6a6b70;
	--color-fg-dark: #34393d;
	--color-bg-light: white;
	--color-bg-dark: #f2f2f2;
	--color-bg-darker: #ebebeb;
}

#app[data-theme="dark"] {
	--color-fg-light: #bebebe;
	--color-fg-dark: #eaeaea;
	--color-bg-light: #1e2529;
	--color-bg-dark: #1b1c1d;
	--color-bg-darker: #151516;
}

#app.is-debug-2 {
	filter: grayscale(1);
}

/* View */

.view {
	position: absolute;
	width: 100%;
	height: calc(100% - 64px);
	background-color: var(--color-bg-dark);
	overflow-x: hidden;
	overflow-y: auto;
}

.view-empty {
	display: flex;
	width: 100%;
	height: 100%;
	color: var(--color-fg-light);
	font-size: 20px;
	font-weight: bold;
	animation: var(--animation-fadeIn);
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

/* Debug */

#app.is-debug-1 .navbar-item,
#app.is-debug-1 #modal-buttons-cancel,
#app.is-debug-1 #modal-buttons-confirm,
#app.is-debug-1 .search-top-types-item.is-active,
#app.is-debug-1 .favorites-stop,
#app.is-debug-1 #map-locate,
#app.is-debug-1 .leaflet-control-attribution,
#app.is-debug-1 .leaflet-marker-icon,
#app.is-debug-1 .settings-first-party,
#app.is-debug-1 .settings-third-party,
#app.is-debug-1 svg:not(.loader-vehicle):not(.favorites-stop-icon),
#app.is-debug-1 div[class$="name"],
#app.is-debug-1 div[class$="description"] {
	animation: view-debug-1 1.5s linear infinite;
}

/* Animations */

@keyframes view-fadeIn {
	
	from {
		opacity: 0;
	}
	
	to {
		opacity: 1;
	}
	
}

@keyframes view-debug-1 {
	
	from {
		filter: hue-rotate(0);
	}
	
	to {
		filter: hue-rotate(360deg);
	}
	
}
