* {
	box-sizing: border-box;
	outline: none
}

html,
body,
#app {
	height: 100%;
}

body {
	margin: 0;
	user-select: none;
	overflow: hidden;
}

/* Reset */

input {
	border: none;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/* App */

#app {
	display: flex;
	color: var(--color-fg-dark);
	font-family: Lato, Arial, Helvetica, sans-serif;
	flex-direction: column;
	-webkit-tap-highlight-color: transparent;
}

#app.theme-light {
	--color-fg-dark: #37474f;
	--color-fg-light: #707070;
	--color-bg-dark: #f5f5f5;
	--color-bg-light: white;
}

#app.theme-dark {
	--color-fg-dark: #cecece;
	--color-fg-light: #eaeaea;
	--color-bg-dark: #181818;
	--color-bg-light: #242424;
}

/* View */

.view {
	position: absolute;
	width: 100%;
	height: calc(100% - 64px);
	background-color: var(--color-bg-dark);
	overflow: hidden;
}
