* {
	box-sizing: border-box;
	outline: none
}

html,
body,
#app {
	height: 100%;
}

body {
	margin: 0;
	user-select: none;
	overflow: hidden;
}

/* Reset */

input,
select {
	color: inherit;
	background-color: transparent;
	border: none;
	outline: none;
	box-shadow: none;
	font-size: inherit;
}

select {
	-webkit-appearance: none;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: inherit;
}

/* App */

#app {
	display: flex;
	background-color: var(--color-bg-dark);
	color: var(--color-fg-dark);
	font-family: 'Roboto UI', Arial, Helvetica, sans-serif;
	flex-direction: column;
	-webkit-tap-highlight-color: transparent;
}

#app.theme-light {
	--color-fg-light: #1e2529;
	--color-fg-dark: #1b1c1d;
	--color-bg-light: white;
	--color-bg-dark: #f5f5f5;
	--color-bg-darker: #ebebeb;
}

#app.theme-dark {
	--color-fg-light: #bababa;
	--color-fg-dark: #eaeaea;
	--color-bg-light: #1e2529;
	--color-bg-dark: #1b1c1d;
	--color-bg-darker: #151516;
}

/* View */

.view {
	position: absolute;
	width: 100%;
	height: calc(100% - 64px);
	background-color: var(--color-bg-dark);
	overflow: hidden;
}

.view-empty {
	display: flex;
	width: 100%;
	height: 100%;
	color: var(--color-fg-dark);
	font-size: 20px;
	font-weight: bold;
	animation: view-fadeIn .25s linear forwards;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	opacity: 0;
}

/* Animations */

@keyframes view-fadeIn {
	
	to {
		opacity: 1;
	}
	
}
