#stop-bar {
	display: flex;
	position: relative;
	padding: 12px;
	background-color: white;
	box-shadow: rgba(0, 0, 0, .12) 0 1px 6px, rgba(0, 0, 0, .12) 0 1px 4px;
	font-size: 24px;
	font-weight: bold;
	align-items: center;
	cursor: default;
}

#stop-bar-icon {
	width: 40px;
}

#stop-bar-name,
#stop-bar-extra {
	position: absolute;
}

#stop-bar-name {
	left: 64px;
	top: 8px;
}

#stop-bar-extra {
	left: 65px;
	bottom: 9px;
	color: #999;
	font-size: 14px;
}

#stop-trips {
	height: calc(100% - 64px);
	overflow-y: scroll;
}

.stop-trips-trip {
	position: relative;
	height: 80px;
}

.stop-trips-trip:not(:first-child):after {
	content: '';
	box-sizing: border-box;
	display: block;
	position: absolute;
	width: calc(100% - 16px);
	height: 1px;
	margin: 0 8px;
	background-color: rgba(0, 0, 0, .1);
}

.stop-trips-trip > * {
	position: absolute;
}

.stop-trips-trip-vehicle {
	width: 48px;
	margin-top: 3px;
}

.stop-trips-trip-countdown,
.stop-trips-trip-shortname {
	font-size: 28px;
}

.stop-trips-trip-shortname,
.stop-trips-trip-longname {
	font-weight: bold;
}

.stop-trips-trip-shortname {
	left: 48px;
	top: 9px;
}

.stop-trips-trip-longname {
	left: 10px;
	bottom: 7px;
}

.stop-trips-trip-longname > svg {
	width: 16px;
	margin-right: 8px;
	margin-bottom: -2px;
}

.stop-trips-trip-countdown,
.stop-trips-trip-time {
	right: 8px;
}

.stop-trips-trip-countdown {
	top: 9px;
}

.stop-trips-trip-countdown > span {
	font-size: 18px;
}

.stop-trips-trip-countdown > svg {
	position: absolute;
	right: 2px;
	top: 3px;
	width: 12px;
	transform: rotate(-15deg);
}

.stop-trips-trip-time {
	bottom: 10px;
	color: #999;
	font-size: 18px;
}
