{
	"extends": [
		"eslint:recommended",
		"react-app"
	],
	"rules": {
		"no-empty": [
			"error",
			{
				"allowEmptyCatch": true
			}
		],
		"eqeqeq": [
			"error",
			"always",
			{
				"null": "ignore"
			}
		]
	},
	"overrides": [
		{
			"files": [
				"src/**/*.jsx?"
			]
		}
	]
}
